:root {
    --white: #fff;
    --black: #000;
    --light-grey: rgba(107, 107, 107, 0.2);
    --main-color: #255183;
}

* {
    box-sizing: border-box;
    text-decoration: none;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #000;
}

html {
    position: relative;
    background-color: var(--main-color);
}

/* overlay for index and other pages */
.main, .main-overlay {
    /* background-color: var(--main-color); */
    min-width: 100dvh;
    min-height: 100dvh;
}

/* Start of Login/SignUp styles */
.main-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-overlay .input {
    background-color: rgba(22, 22, 22, 0.8);
    min-width: 490px;
    min-height: 400px;
    border-radius: 12px;
    margin: 100px 0; 
}

.main-overlay .input form {
    margin: 10px;
}

.main-overlay .input form h1 {
    font-size: 32px;
    place-self: center;
    margin: 30px 0 35px;
    color: var(--white);
}

.main-overlay .input form .input-div {
    margin: 0 20px;
}

.main-overlay .input form .input-div .input-fields {
    display: flex;
    flex-direction: column;
    place-self: center;
    margin-bottom: 20px;
}

.main-overlay .input form .input-div .input-fields label {
    margin: 8px 0;
    font-size: 20px;
    color: var(--white);
}

.main-overlay .input form .input-div .input-fields input, .main-overlay .input form .input-div .input-fields textarea {
    width: 250px;
    padding: 4px;
    font-size: 18px;
    border-radius: 5px;
    border-width: 0;
    outline: none;
    color: var(--black);
}

/* Start of error warning */
.main-overlay .input form .input-div .input-fields .error {
    margin: 10px 0 0;
    color: #ff0000;
}
/* End of error warning */

.main-overlay .input form .input-div .input-fields #logged-in, .main-overlay .input form .input-div .input-fields #failed-login {
    margin-bottom: 5px;
}

.main-overlay .input form .input-div .input-fields #logged-in {
    color: #30d421;
}

.main-overlay .input form .input-div .input-fields #failed-login {
    color: #d61a1a;
}

.main-overlay .input form .input-div .input-fields #index-link {
    font-size: 17px;
    text-decoration: underline;
    color: var(--white);
}

.main-overlay .input form .input-div .input-fields #index-link:hover {
    color: #30d421;
}

/* Start of Login/SignUp buttons */
.main-overlay .input form .input-div .input-btns {
    place-self: center;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 35px 0;
}


.main-overlay .input form .input-div .input-btns input, .main-overlay .input form .input-div .input-btns a {
    font-size: 17px;
    border-radius: 14px;
    cursor: pointer;
    color: #fff;
    border: 3px #fff solid;
    background-color: rgba(22, 22, 22, 0.8);
    width: 110px;
    height: 36px;
}

.main-overlay .input form .input-div .input-btns a {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.main-overlay .input form .input-div .input-btns input:hover, .main-overlay .input form .input-div .input-btns a:hover  {
    border-color: #2177d8;
    color: #2177d8;
}
/* End of Login/SignUp buttons */

.main-overlay .input form .input-div select, .main-overlay .input form .input-div select option {
    color: var(--black);
    height: 30px;
    width: 250px;
    font-size: 16px;
    border-radius: 5px;
    border-width: 0;
    outline: none;
}

.password-div {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    font-size: 18px;
}

.password-div p {
    color: var(--white);
}

.main-overlay .input form .input-div #account {
    color: #30d421;
    font-size: 17px;
    text-align: center;
}

.main-overlay .input form .input-div #newUser {
    color: var(--white);
    padding: 10px 0;
    text-align: center;
}

.main-overlay .input form .input-div .input-fields .password-div input {
    width: 30px;
    height: 18px;
}

.main-overlay .input form .input-div .input-fields textarea {
    max-width: 250px;
    min-width: 250px;
    max-height: 250px;
    min-height: 30px;
}
/* End of Login/SignUp styles */

/* Start of navbar styles */
.main .nav-bar nav .search-div input, .nav-bar nav .search-div input {
    color: var(--black);
    margin: 5px 15px;
    border-width: 0;
    outline: none;
    background: transparent;
} 

.main .nav-bar nav .search-div, .nav-bar nav .search-div  {
    background: #e5e7eb;
    border-radius: 40px;
    width: 500px;
    height: 38px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main .nav-bar nav .search-div #search-btn, .nav-bar nav .search-div #search-btn {
    cursor: pointer;
    font-size: 20px;
    margin: 0 15px 0 0;
    border-radius: 30px;
    padding: 0 6px;
}

.main .nav-bar nav .search-div #search-btn:hover, .nav-bar nav .search-div #search-btn:hover, .main .nav-bar nav a:hover, .main .nav-bar nav a:hover {
    color: #fff;
    text-shadow: 2px 0px 2px #ff0000, -2px 0px 2px #ff0000, 0px 2px 2px #ff0000, 0px -2px 2px #ff0000;
}

.main-overlay .input form .input-div #newUser:hover {
    text-decoration: underline;
}

.main .nav-bar nav .search-div #search-bar, .nav-bar nav .search-div #search-bar {
    border-radius: 16px;
    font-size: 20px;
    padding: 1px 15px;
    width: 405px;
    margin: 0;
}

.main .nav-bar, .nav-bar {
    height: 100px;
    display: flex;
    align-items: center;
    margin: 15px 0 0;
}

.nav-bar {
    margin: 15px 0;
}

.main .nav-bar nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100%;
    width: 100%;
    margin-left: 320px;
}

.nav-bar nav{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.main .nav-bar nav a, .nav-bar nav a {
    padding: 6px;
    color: var(--black);
    border-bottom: #000;
    background: transparent;
    font-size: 17.4px;
    background-color: #dad9d9;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 0px 20px;
}

.main .nav-bar nav #homepage {
    margin: 0px 40px 0px 30px;
}

.nav-bar nav #loginStatus {
    margin-left: 150px;
}

.main .nav-bar nav #loginStatus, .nav-bar nav #loginStatus {
    background-color: #dad9d9;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 5px 10px;
}

/* End of navbar styles */

/* Start of main page styles */
.main .news-posts {
    margin-left: 240px;
    margin-top: 50px;
    margin: 50px 0 80px 240px;
    column-count: 2;
    column-gap: 2px;
}

.main .category-list {
    width: 230px;
    height: 100%;
    position: fixed;
    left: -2px;
    border-radius: 5px;
    padding: 10px 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--white);
    overflow-y: hidden;
}

.main .category-list .category {
    margin: 5px 0 0 10px;
}

.main .category-list .category-filters h3 {
    color: #fff;
    margin: 35px 0 40px 15px;
}

.main .category-list .category-filters .form-actions {
    margin: 40px 0 0;
    display: flex;
    flex-direction: column;
}

.main .category-list .category-filters .form-actions input {
    margin: 5px 0;
    font-size: 17px;
    border-radius: 10px;
    padding: 2px 0; 
    width: 140px;
    place-self: center;
    cursor: pointer;
}

.main .category-list .category input {
    height: 15px;
    width: 15px;
    margin: 0 15px 0 5px;
}

.main .category-list .category label{
    color: #fff;
    font-size: 18px;
}

.main .news-posts .posts, .comments-page .posts  {
    background-color: rgb(255, 255, 255);
    margin: 0px 30px 30px;
    height: fit-content;
    min-width: 280px;
    max-width: 680px;
    border-radius: 8px;
}

.comments-page .posts  {
    margin: 0 0 30px;
}

.main .news-posts .posts p {
    padding: 0 25px;
    margin: 15px 0;
}

.main .news-posts .posts .title {
    padding: 15px 25px;
}

.main .news-posts .posts a {
    width: 60%;
    display: block;
    font-size: 17px;
    color: var(--main-color);
    padding: 0px 10px;
}

.main .news-posts .posts a:hover, .main .category-list .category-filters .form-actions input:hover {
    color: #fff;
    text-shadow: 2px 0px 2px #ff0000, -2px 0px 2px #ff0000, 0px 2px 2px #ff0000, 0px -2px 2px #ff0000;
}

.main .news-posts .posts .title, .main .news-posts .post-bottom {
    background: #e5e7eb;
}

.main .news-posts .post-bottom {
    display: flex;
    justify-content: space-between;
    padding: 15px 22px;
    font-weight: bold;
    align-items: center;
}

.main .news-posts .post-bottom .date {
    font-size: 15px;
    margin: 0;
}
/* End of main page styles */

/* Start of Fullpost styles*/
.comments-page {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100dvh;
}

.comments-page .posts {
    padding: 10px 25px 30px;
    margin-top: 200px;
}

.comments-page .posts h3 {
    margin: 20px 0;
}

.comments-page .comments-overlay {
    background-color: #202020;
    width: 750px;
    margin: 50px 0;
    border-radius: 10px;
}

.comments-page .comments-heading h2 {
    margin: 0px 0px;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #858484;
    color: #fff;
    border-radius: 10px;
}
/* End of Fullpost styles*/

/* Styles for create page*/
.noCreationAccess {
    color: #ff3535;
    font-size: 22px;
    text-align: center;
    place-self: center;
    margin: 200px 0;
}
/* */